
.ongletCliquableDiv1 TABLE TR TD
	{
	
	/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px; 
	 text-decoration : none;
	 /* Couleur */
	 color: #FFFFFF; 
	 /* Alignement */
	 text-align: center; 
	 vertical-align : middle;
	 }
	 
.ongletCliquableDiv2 A:link
	{color: #FFFFFF;
	 text-decoration: none;
	}
.ongletCliquableDiv2 A:visited
	{color: #FFFFFF;
	 text-decoration: none;
	}
.ongletCliquableDiv2 A:hover
	{color: #FFFFFF;
	 text-decoration: none;
	}
.ongletCliquableDiv2 A:active
	{color: #FFFFFF;
	 text-decoration: none;
	}

	 
.ongletCourantDiv1 TABLE TR TD
	{
	
	/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px; 
	 text-decoration : none;
	 /* Couleur */
	 color: #2A77B5; 
	 /* Alignement */
	 text-align: center; 
	 vertical-align : middle;
	 }

.ongletCourantDiv2 A:link
	{color: #2A77B5;
	 text-decoration: none;
	}
.ongletCourantDiv2 A:visited
	{color: #2A77B5;
	 text-decoration: none;
	}
.ongletCourantDiv2 A:hover
	{color: #2A77B5;
	 text-decoration: none;
	}
.ongletCourantDiv2 A:active
	{color: #2A77B5;
	 text-decoration: none;
	}

.ongletInactifDiv1 TABLE TR TD
	{
	
	/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px; 
	 text-decoration : none;
	 /* Couleur */
	 color: #FFFFFF; 
	 /* Alignement */
	 text-align: center; 
	 vertical-align : middle;
	 }

/*********BOUTONS******************/
.bt_bleuDiv1 TABLE TR TD
	{/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 9px; 
	 text-decoration : none;
	 /* Couleur */
	 color: #FFFFFF; 
	 /* Alignement */
	 vertical-align : middle;
	 text-align: center; 
	 }
.bt_bleuDiv2 A:link
	{/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 9px; 
	 text-decoration : none;
	 /* Couleur */
	 color: #FFFFFF; 
	 /* Alignement */
	 vertical-align : middle;
	 text-align: center; 
	}
.bt_bleuDiv2 A:visited
	{/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 9px; 
	 text-decoration : none;
	 /* Couleur */
	 color: #FFFFFF; 
	 /* Alignement */
	 vertical-align : middle;
	 text-align: center; 
	}
.bt_bleuDiv2 A:hover
	{/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 9px; 
	 text-decoration : none;
	 /* Couleur */
	 color: #FFFFFF; 
	 /* Alignement */
	 vertical-align : middle;
	 text-align: center; 
	}
.bt_bleuDiv2 A:active
	{/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 9px; 
	 text-decoration : none;
	 /* Couleur */
	 color: #FFFFFF; 
	 /* Alignement */
	 vertical-align : middle;
	 text-align: center; 
	}

	 
.bt_blancDiv1 TABLE TR TD
	{/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 9px; 
	 text-decoration : none;
	 /* Couleur */
	 color: #2A77B5; 
	 /* Alignement */
	 text-align: center; 
	 vertical-align : middle;
	 }
.bt_blancDiv2 A:link
	{/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 9px; 
	 text-decoration : none;
	 /* Couleur */
	 color: #2A77B5; 
	 /* Alignement */
	 text-align: center; 
	 vertical-align : middle;
	}
.bt_blancDiv2 A:visited
	{/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 9px; 
	 text-decoration : none;
	 /* Couleur */
	 color: #2A77B5; 
	 /* Alignement */
	 text-align: center; 
	 vertical-align : middle;
	}
.bt_blancDiv2 A:hover
	{/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 9px; 
	 text-decoration : none;
	 /* Couleur */
	 color: #2A77B5; 
	 /* Alignement */
	 text-align: center; 
	 vertical-align : middle;
 
	}
.bt_blancDiv2 A:active
	{/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 9px; 
	 text-decoration : none;
	 /* Couleur */
	 color: #2A77B5; 
	 /* Alignement */
	 text-align: center; 
	 vertical-align : middle;
	}
	
/*********FIN NOUVEAU CSS *************/

.btSouligne { 
font-size: 9px;
}

td.zonetravailaveconglets 
	{/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 14px;
	 font-weight: bold; 
	 text-decoration : none;
 
	 /* couleur de fond*/
	background-color:#FFFFFF;
	border-width: 0 1px 0 1px; 
	border-style:solid;
	border-color:#2A77B5;
	
	
	 }
	 
td.zonetravailsansonglets 
	{/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 14px;
	 font-weight: bold; 
	 text-decoration : none;
 
	 /* couleur de fond*/
	background-color:#FFFFFF;
	border-width: 1px 1px 0 1px;
	border-style:solid;
	border-color:#2A77B5;
	
	
	 }

td.zonetravailbarreboutons
	{
	
	background-color:#FFFFFF;
	border-width: 0 1px 1px 1px;
	border-style:solid;
	border-color:#2A77B5;
	
	}

td.zonetravailbarreboutonsvide
	{	
	background-color:#2A77B5;
	}

td.zonetravailbarreonglets
	{	
	border-width: 0 0 1px 0;
	border-style:solid;
	border-color:#2A77B5;	
	}

/*********BOUTONS******************/	
.chevronCliquableDiv1 TABLE TR TD
	{
	
	/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px; 
	 text-decoration : none;
	 /* Couleur */
	 color: #FFFFFF; 
	 /* Alignement */
	 text-align: center; 
	 vertical-align : middle;
	 }
	 
.chevronCliquableDiv2 A:link
	{color: #FFFFFF;
	 text-decoration: none;
	}
.chevronCliquableDiv2 A:visited
	{color: #FFFFFF;
	 text-decoration: none;
	}
.chevronCliquableDiv2 A:hover
	{color: #FFFFFF;
	 text-decoration: none;
	}
.chevronCliquableDiv2 A:active
	{color: #FFFFFF;
	 text-decoration: none;
	}

	 
.chevronCourantDiv1 TABLE TR TD
	{
	
	/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px; 
	 text-decoration : none;
	 /* Couleur */
	 color: #2A77B5; 
	 /* Alignement */
	 text-align: center; 
	 vertical-align : middle;
	 }

.chevronCourantDiv2 A:link
	{color: #2A77B5;
	 text-decoration: none;
	}
.chevronCourantDiv2 A:visited
	{color: #2A77B5;
	 text-decoration: none;
	}
.chevronCourantDiv2 A:hover
	{color: #2A77B5;
	 text-decoration: none;
	}
.chevronCourantDiv2 A:active
	{color: #2A77B5;
	 text-decoration: none;
	}

.chevronInactifDiv1 TABLE TR TD
	{
	
	/* Police */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px; 
	 text-decoration : none;
	 /* Couleur */
	 color: #FFFFFF; 
	 /* Alignement */
	 text-align: center; 
	 vertical-align : middle;
	 }
