
.menuMetier A:link
	{text-decoration: none;
	 color: black;
	 vertical-align :middle;
	 width:100%;
	}
.menuMetier A:visited
	{
	text-decoration: none;
	 color: black;
	 vertical-align :middle;
	 width:100%;
	}
.menuMetier A:hover
	{background-color:#F2DB86;
	text-decoration: none;
	 color: black;
	 vertical-align :middle;
	 width:100%;
	}
.menuMetier A:active
	{background-color:#F2DB86;
	text-decoration: none;
	 color: black;
	 vertical-align :middle;
	 width:100%;
	}
.menuMetier 
	{/* proprietes du texte */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px;
	 font-weight: normal;
	 color: black;
	 
	 /* proprietes de cellule */
	 background-color:#F3C463;
	 vertical-align :middle;
       	 text-align: left;
	}

TD.sousMenuMetierBase
	{/* proprietes du texte */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px;
	 font-weight: normal;
	 color: black;

	 /* proprietes de cellule */
	 vertical-align :middle;
         text-align: left;
	}




.sousMenuMetier A:link
	{background-color:#FBF8D0;
	 text-decoration: none;
	 color: black;
	 vertical-align :middle;
	 width:100%;
	}
.sousMenuMetier A:visited
	{background-color:#FBF8D0;
	 text-decoration: none;
	 color: black;
	 vertical-align :middle;
	 width:100%;
	}
.sousMenuMetier A:hover
	{background-color:#F2DB86;
	 text-decoration: none;
	 color: black;
	 vertical-align :middle;
	 width:100%;
	}
.sousMenuMetier A:active
	{background-color:#F2DB86;
	 text-decoration: none;
	 color: black;
	 vertical-align :middle;
	 width:100%;
	}
.sousMenuMetier 
	{/* proprietes du texte */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px;
	 font-weight: normal;
	 color: black;
	 
	 /* proprietes de cellule */
	 background-color:#FBF8D0;
	 vertical-align :middle;
       	 text-align: left;
	}


.menuMetierSelec A:link
	{background-color:#F2DB86;
	 text-decoration: none;
	 color: black;
	 vertical-align :middle;
	 width:100%;
	}
.menuMetierSelec A:visited
	{background-color:#F2DB86;
	 text-decoration: none;
	 color: black;
	 vertical-align :middle;
	 width:100%;
	}
.menuMetierSelec A:hover
	{background-color:#F2DB86;
	 text-decoration: none;
	 color: black;
	 vertical-align :middle;
	 width:100%;
	}
.menuMetierSelec A:active
	{background-color:#F2DB86;
	 text-decoration: none;
	 color: black;
	 vertical-align :middle;
	 width:100%;
	}
.menuMetierSelec 
	{/* proprietes du texte */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px;
	 font-weight: normal;
	 color: black;
	
	 /* proprietes de cellule */
	 background-color:#F2DB86;
	 vertical-align :middle;
       	 text-align: left;
	}



.menuService A:link
	{text-decoration: none;
	 color: white;
	 width:100%;
	}
.menuService A:visited
	{text-decoration: none;
	 color: white;
	 width:100%;
	}
.menuService A:hover
	{background-color:#73A5CD;
	 text-decoration: none;
	 color: white;
	 width:100%;
	}
.menuService A:active
	{background-color:#73A5CD;
	 text-decoration: none;
	 color: white;
	 width:100%;
	}
.menuService 
	{/* proprietes du texte */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px;
	 font-weight: normal;
	 color: white;
	 
	 /* proprietes de cellule */
	 background-color:#2A77B5;
	 vertical-align :middle;
       	 text-align: left;
	}




.sousMenuService A:link
	{background-color:#BED7E6;
	 text-decoration: none;
	 color: black;
	}
.sousMenuService A:visited
	{background-color:#BED7E6;
	 text-decoration: none;
	 color: black;
	}
.sousMenuService A:hover
	{background-color:#73A5CD;
	 text-decoration: none;
	 color: white;
	}
.sousMenuService A:active
	{background-color:#73A5CD;
	 text-decoration: none;
	 color: white;
	}
.sousMenuService 
	{/* proprietes du texte */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px;
	 font-weight: normal;
	 color: black;
	 
	 /* proprietes de cellule */
	 background-color:#BED7E6;
	 vertical-align :middle;
       	 text-align: left;
	}

TD.sousMenuServiceBase
	{/* proprietes du texte */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px;
	 font-weight: normal;
	 color: white;

	 /* proprietes de cellule */
	 vertical-align :middle;
       	 text-align: left;
	}
	
.menuServiceSelec A:link
	{background-color:#73A5CD;
	 text-decoration: none;
	 color: white;
	 vertical-align :middle;
	 width:100%;
	}
.menuServiceSelec A:visited
	{background-color:#73A5CD;
	 text-decoration: none;
	 color: white;
	 vertical-align :middle;
	 width:100%;
	}
.menuServiceSelec A:hover
	{background-color:#73A5CD;
	 text-decoration: none;
	 color: white;
	 vertical-align :middle;
	 width:100%;
	}
.menuServiceSelec A:active
	{background-color:#73A5CD;
	 text-decoration: none;
	 color: white;
	 vertical-align :middle;
	 width:100%;
	}
.menuServiceSelec 
	{/* proprietes du texte */
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px;
	 font-weight: normal;
	 color: white;
	
	 /* proprietes de cellule */
	 background-color:#73A5CD;
	 vertical-align :middle;
       	 text-align: left;
	}

	

